* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}

body {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}
main{
    background-color: #f2f2f2 !important;
}

#addProduct {
    width: 100% !important;
    padding: 10px;
}

.add-product-form {
    display: flex;
    gap: 10px;
    width:100%;
}

.right-container {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
    height: fit-content;}

.form-group {
    display: flex;
    flex-direction: column;

}

.form-group-container {
    display: flex;
    gap: 10px;
}

.form-group-container>* {
    flex: 1;
}

.form-group label {
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.form-group input,
.form-group select {
    padding: 2px 10px;
    border-radius: 5px;
    border: 2px solid rgb(171, 171, 171);
    font-size: 1.1rem;
}

.left-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.add-product-img-container {
    margin-top:10px ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.add-product-img-container>* {
    aspect-ratio: 1;
    border: 1px dotted blue;
    border-radius: 5px;
    padding:2px;
    cursor:pointer;
    position:relative;
}
.upload-img{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50% , -50%);
    text-align: center;
}

.product-description {
    width: 100%;
    min-height: 200px;
    resize: vertical;
}

.form-criteria {
    color: gray;
    font-size: 0.9rem;
    border: none;
    height: fit-content;
    width: fit-content;
}

.add-product-submit-btn {
    margin-top: 10px;
    cursor: pointer;
    background-color: green;
    color: #fff;
    border: none;
    font-size: 1.3rem;
    border-radius: 400px;
    width: fit-content;
    align-self: flex-end;
    padding: 0.3em 0.7em;
}